@model Tienda.Models.Clientes

@{
    ViewBag.Title = "Ficha";
}

<h2>Ficha Cliente</h2>

<div class="dl-horizontal">
    <label>Rut Cliente:</label>
    <span>@Model.Rut_cliente</span>
</div>
<div class="dl-horizontal">
    <label>Nombre Cliente:</label>
    <span>@Model.Nombre</span>
</div>
<div class="dl-horizontal">
    <label>Apellido:</label>
    <span>@Model.Apellido</span>
</div>
<div class="dl-horizontal">
    <label>Dirección:</label>
    <span>@Model.Direccion</span>
</div>
<div class="dl-horizontal">
    <label>Tipo Cliente:</label>
    <span>@Model.Tipo_cliente</span>
</div>





