@model Tienda.Models.Productos

@{
    ViewBag.Title = "Ficha";
}

<h2>Ficha Producto</h2>

<div class="dl-horizontal">
    <label>Id_Cliente:</label>
    <span>@Model.Id_producto</span>
</div>
<div class="dl-horizontal">
    <label>Nombre producto:</label>
    <span>@Model.Nombre_producto</span>
</div>
<div class="dl-horizontal">
    <label>Codigo barra:</label>
    <span>@Model.Codigo_barra</span>
</div>
<div class="dl-horizontal">
    <label>Familia:</label>
    <span>@Model.Familia</span>
</div>
<div class="dl-horizontal">
    <label>Precio:</label>
    <span>@Model.Precio</span>
</div>
<div class="dl-horizontal">
    <label>Descuento Tope %:</label>
    <span>@Model.Descuento_tope</span>
</div>
<div class="dl-horizontal">
    <label>Descripción:</label>
    <span>@Model.Descripcion</span>
</div>




